SUPABASE_URL='postgresql://postgres:Profound2026##@db.rqkjbkzfazlwusiejyjw.supabase.co:5432/postgres'
SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxa2pia3pmYXpsd3VzaWVqeWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNDcyMzYsImV4cCI6MjA4ODkyMzIzNn0.C_BoQQJHxPcCtgDUo8oQk9ZzOmBUm92yC4f_N4JV-G4'
SUPABASE_BUCKET=generated-files
GROQ_API_KEY=your_groq_api_key
